*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
   text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px;
}

div {
  margin: auto;
  background-image: none;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin: 1% 0;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  min-height: 250px;
  padding-top: 5px;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 21%;
  }
}

.preview-baku {
  background-image: url(/images/baku.jpg)
}

.preview-london {
  background-image: url(/images/london.png)
}

.preview-madrid {
  background-image: url(/images/madrid.jpg)
}

.preview-rome {
  background-image: url(/images/rome.jpg)
}
